header {
  background-color: rgba(255, 255, 255, 0.349);
}
@media (max-width: 1000px) {
  .head__btns-box-btn {
    padding: 17px 8px;
    font-size: 10px;
    line-height: 11px;
  }
}

/* おすすめ、人気、新着 */
.head-lower__links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #e5e5e5;
}
.head-lower__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  background-color: #fff;
}
.head-lower__link-wrap {
  padding: 0 10px;
  text-align: center;
}
.head-lower__link {
  display: inline-block;
  margin-bottom: -1px;
  padding: 14px 5px 12px;
  /* border-bottom: solid 3px #e86537;
  color: #e96e43; */
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-decoration: none;
  cursor: default;
}
.head-lower__link.active {
  padding-bottom: 14px;
  margin-bottom: 0;
  border-bottom: 0;
  color: #333;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
.head-lower__link.active:hover {
  opacity: 0.6;
  -webkit-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
}
@media (max-width: 1000px) {
  .head-lower__links-wrap {
    display: block;
    border-bottom: 0;
  }
  .head-lower__links {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 69;
    width: 100%;
    padding-left: 0;
    border-bottom: solid 1px #e5e5e5;
    -webkit-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
  }
  .head-lower__links.hidden {
    top: -1px;
  }
  .head-lower__link-wrap {
    width: 100%;
    padding: 0;
  }
  .head-lower__link {
    width: 100%;
    padding: 13px 0 11px;
    color: #e96e43;
    font-size: 12px;
    line-height: 14px;
  }
  .head-lower__link.active {
    padding-bottom: 13px;
  }
}
@media (max-width: 640px) {
  .head-lower__links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}

/* 検索系 */
.head-lower__links-wrap.mypage,
.head-lower__links-wrap.mypage .head-lower__links {
  background-color: #f5f5f5;
}
.head__discover-others-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin-left: 25px;
  padding-right: 40px;
}

/* キーワード検索フォーム */
.head__discover-search {
  margin: auto 0;
  letter-spacing: -0.4em;
}
.head__discover-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.head__discover-search-input-wrap {
  position: relative;
  height: 30px;
}
.head__discover-search-input-wrap .svg-search {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 50;
  color: #7d7d7d;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  cursor: pointer;
}
.head__discover-search-input-wrap .svg-search:hover {
  color: #e96e43;
}
.head__discover-search-input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  padding: 7px 7px 7px 35px;
  background-color: #e5e5e5;
  border-width: 0;
  border-radius: 2px;
  color: #333;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.head__discover-search-input[type="search"]:focus {
  outline: 0;
  border-color: #e86537;
}
.head__discover-search-cancel {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 29px;
  height: inherit;
  text-decoration: none;
}
.head__discover-search-cancel .svg-cancel {
  padding-top: 8px;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0;
}
.head__discover-search-cancel.active {
  display: block;
  cursor: pointer;
}
.head__discover-search-cancel.active:hover .svg-cancel {
  color: #e96e43;
}
.head__discover-search-submit[type="submit"] {
  display: none;
}
.head__discover-cat-select-wrap {
  margin: auto 0 auto auto;
}
.head__discover-cat-select {
  width: 125px;
  padding: 8px 2px 8px 10px;
  background: rgb(255, 255, 255) url("/img/icon/矢印アイコン\　下4\ \(1\).png")
    calc(100% - 9px) 50% no-repeat;
  font-size: 15px;
  line-height: 13px;
  cursor: pointer;
}
.head__discover-cat-select:hover {
  background-position: calc(100% - 9px) calc(50% + 1px);
}
.head__discover-cat-select-dropdown {
  display: none;
  position: absolute;
  top: 96px;
  right: 40px;
  z-index: 2;
  width: 160px;
  background: #fff;
  border: solid 1px #dcdcdc;
  box-shadow: 0 0 1px 0 #d6d6d6;
}
.head__discover-cat-select-dropdown .button-group {
  padding: 10px;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}
.button-group button {
  width: 100%;
  margin: 1% 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* ボーダーをなくす */
  border-style: none;
}

.button-group button:hover {
  transition: 0.5s;
  background-color: rgba(158, 158, 158, 0.582);
}

@media (max-width: 1000px) {
  .head__discover-others-wrap {
    margin: 0;
    padding: 10px 15px;
  }
  .head__discover-search-input[type="search"] {
    font-size: 12px;
  }
  .head__discover-search-cancel {
    width: 28px;
  }
  .head__discover-cat-select {
    font-size: 12px;
  }
  .head__discover-cat-select-dropdown {
    top: 125px;
    right: 15px;
  }
  .head__discover-cat-select-dropdown .category-btn {
    font-size: 12px;
  }
}

.head__discover-mobile-wrap {
  padding: 15px;
}
.head__discover-mobile-wrap.event {
  padding: 20px 15px;
}
.head__discover-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #e5e5e5;
}
.head__discover-mobile-in {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: 10px 0 10px 14px;
  font-size: 12px;
  line-height: 1.6;
}
.head__discover-mobile-in.empty:before {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #333;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
.head__discover-mobile-clear {
  display: block;
  min-width: 40px;
  height: 39px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}
.head__discover-mobile-clear:before {
  display: inline-block;
}
.head-lower__links-wrap.book-form {
  background-color: #808080;
}
.head-lower__book-category-select-wrap {
  padding: 10px 0 10px 20px;
}
.head-lower__book-category-select-wrap .label {
  display: inline-block;
  margin-right: 15px;
  padding: 8px 0;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}
.head-lower__book-category-select-wrap .select {
  width: 150px;
  padding: 7px 35px 6px 15px;
}
.head-lower__book-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 10px 40px 10px 0;
  background: #808080;
}
.head-lower__book-btn {
  -webkit-transition: opacity ease-in 0.2s;
  transition: opacity ease-in 0.2s;
}
.head-lower__book-btn:hover {
  opacity: 0.6;
  -webkit-transition: opacity ease-out 0.1s;
  transition: opacity ease-out 0.1s;
}
.head-lower__book-btn.private {
  margin-right: 15px;
}
.head-lower__book-btn.private .head-lower__book-btn-in {
  width: 120px;
  color: #333;
  background-color: #fff;
  text-decoration: none;
}
.head-lower__book-btn.public .head-lower__book-btn-in {
  width: 150px;
  color: #fff;
  background-color: #e86537;
  text-decoration: none;
}
.head-lower__book-btn-in {
  display: block;
  padding: 8px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}
.icon-svg_txt_search:before {
  content: url(../img/icon/検索フォーム.png);
}

/* ギャラリー一覧のデザイン */
#container{
text-align: center;
padding: 2% 4%;
}

.item {
  margin: 3% 3.5%;
}

.gallery-info {
  margin: 5% 0 2%;
  font-size: 1.2rem;
  letter-spacing: 0.065em;
  font-weight: bold;
  text-align: center;
}
.artist-name {
  font-size: 0.8rem;
  letter-spacing: 0.065em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1000px) {
  .head-lower__book-btns {
    box-sizing: border-box;
    padding: 7px 15px;
  }
  .head-lower__book-btn.private {
    margin-left: auto;
  }
  .head-lower__book-btn.private .head-lower__book-btn-in,
  .head-lower__book-btn.public .head-lower__book-btn-in {
    width: 130px;
  }
  .head-lower__book-btn-in {
    padding: 7px 0;
    font-size: 12px;
    line-height: 1.1;
  }
}

/* ウェーブ */
@media (max-width: 1000px) {
  .lp__content-wrap .campaign-banner__wrap {
    padding-top: 30px;
  }
}
.cmn__loader-wrap {
  position: relative;
}
/* ページの読み込みが終わると、奥へ引っ込む */
.cmn__loader-wrap:before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/* ページの読み込み前は、うごめく */
.cmn__loader-wrap .wavy-loader {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.cmn__loader-wrap .wavy-loader.standby {
  display: block;
}
.cmn__loader-wrap .wavy-loader.standby.active {
  opacity: 1;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

/* ウェーブの動きの挙動*/
.cmn__loader-wrap .wavy-loader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  width: 40px;
  height: 24px;
}

/* ウェーブのデザイン*/
.cmn__loader-wrap .wavy-loader .loader span,
.cmn__loader-wrap .wavy-loader .loader:before,
.cmn__loader-wrap .wavy-loader .loader:after {
  position: absolute;
  top: 50%;
  display: block;
  width: 6px;
  height: 100%;
  background: #0300bd;
  border-radius: 2px;
}
.cmn__loader-wrap .wavy-loader .loader:before,
.cmn__loader-wrap .wavy-loader .loader:after {
  content: "";
}
/*ウェーブひだり*/
.cmn__loader-wrap .wavy-loader .loader:before {
  left: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: wave
    0.88s linear infinite;
  animation: wave 0.88s linear infinite;
}

/*ウェーブまんなか*/
.cmn__loader-wrap .wavy-loader .loader span {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: wave 0.93s linear infinite -0.6s;
  animation: wave 0.93s linear infinite -0.6s;
}
/*ウェーブみぎ*/
.cmn__loader-wrap .wavy-loader .loader:after {
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: wave 0.8s linear infinite -0.3s;
  animation: wave 0.8s linear infinite -0.3s;
}
.cmn__loader-wrap.infinite-loader {
  height: 80px;
}
.cmn__loader-wrap.infinite-loader .loader {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  --webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
.cmn__loader-wrap.notification-loader {
  height: 70px;
}
@media (max-width: 1000px) {
  .cmn__loader-wrap.infinite-loader {
    height: 40px;
  }
}
@-webkit-keyframes wave {
  0% {
    height: 100%;
  }
  40% {
    height: 10%;
  }
  80% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}
@keyframes wave {
  0% {
    height: 100%;
  }
  40% {
    height: 10%;
  }
  80% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}

[data-filter-view]:not([data-filter-view=""]) [data-filter-key] {
  display: none;
}
[data-filter-view][data-filter-view~="貝類"] [data-filter-key="貝類"],
[data-filter-view][data-filter-view~="光物"] [data-filter-key="光物"],
[data-filter-view][data-filter-view~="白身"] [data-filter-key="白身"],
[data-filter-view][data-filter-view~="赤身"] [data-filter-key="赤身"] {
  display: block;
}
